<!DOCTYPE html>

<html>
<head>
    <meta name="keywords" content="@ViewBag.keywords">
    <meta name="description" content="@ViewBag.description">
    <title>@ViewBag.Title</title>
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/css/font-awesome.min.css">
    <script src="~/Assets/js/jquery-3.3.1.min.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Assets/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Assets/css/style.css">
    <link rel="stylesheet" href="~/Assets/css/responsive.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-menu">
                        <ul>
                           
                            <li><a href="#"><i class="fa fa-heart"></i> TRANG WEB DÀNH CHO HỌC TẬP</a></li>
                            <li><a href="/gio-hang"><i class="fa fa-user"></i> My Cart</a></li>
                            @if (Session["DangNhap"] == null)
                            {
                                <li><a href="/Customer/Login"><i class="fa fa-sign-in-alt"></i> Login</a></li>
                                <li><a href="/Customer/DangKi"><i class="fa fa-user-plus"></i>Create An Account</a></li>
                            }
                            else
                            {
                                <li><a href="/Customer/Logout"><i class="fa fa-sign-out-alt"></i> Logout</a></li>
                            }

                        </ul>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="header-right">
                        <ul class="list-unstyled list-inline">
                            <li class="dropdown dropdown-small">
                                <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">currency :</span><span class="value">VND </span><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">USD</a></li>
                                    <li><a href="#">VDN</a></li>
                                    <li><a href="#">GBP</a></li>
                                </ul>
                            </li>

                            <li class="dropdown dropdown-small">
                                <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">language :</span><span class="value">Vietnam </span><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">Vietnam</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End header area -->



    <div class="site-branding-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <h1><a href="./"><img src="~/Assets/img/logo.png"></a></h1>

                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="shopping-item">
                        @{
                            var l = (List<GUI.Models.ProductCart>)Session["Card"];
                            int cout = 0;

                            if (l != null)
                            {
                                cout = l.Count;

                            }
                        }
                        <a href="/gio-hang">Cart<i class="fa fa-shopping-cart"></i> <span class="product-count" id="SLCard">@cout</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End site branding area -->


    @RenderPage("_MainMenu.cshtml")
    @if (TempData["AlertMessage"] != null)
    {
        <div id="txtAlert" class="alert @TempData["AlertType"] hide" style="text-align:center">
            <strong>@TempData["AlertMessage"] </strong> 
        </div>
    }


    @RenderBody()


    <div class="footer-top-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-about-us">
                        <h2>u<span>Stora</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus vero quam laborum quas alias dolores blanditiis iusto consequatur, modi aliquid eveniet eligendi iure eaque ipsam iste, pariatur omnis sint! Suscipit, debitis, quisquam. Laborum commodi veritatis magni at?</p>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">User Navigation </h2>
                        <ul>
                            <li><a href="#">My account</a></li>
                            <li><a href="#">Order history</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="#">Vendor contact</a></li>
                            <li><a href="#">Front page</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">Categories</h2>
                        <ul>
                            <li><a href="#">Mobile Phone</a></li>
                            <li><a href="#">Home accesseries</a></li>
                            <li><a href="#">LED TV</a></li>
                            <li><a href="#">Computer</a></li>
                            <li><a href="#">Gadets</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-newsletter">
                        <h2 class="footer-wid-title">Newsletter</h2>
                        <p>Sign up to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!</p>
                        <div class="newsletter-form">
                            <form action="#">
                                <input type="email" placeholder="Type your email">
                                <input type="submit" value="Subscribe">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer top area -->

    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        <p>&copy; 2015 uCommerce. All Rights Reserved. <a href="http://www.freshdesignweb.com" target="_blank">freshDesignweb.com</a></p>
                    </div>
                </div>

                
            </div>
        </div>
    </div> <!-- End footer bottom area -->
    <!-- Latest jQuery form server -->
    <script src="https://code.jquery.com/jquery.min.js"></script>

    <!-- Bootstrap JS form CDN -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- jQuery sticky menu -->
    <script src="~/Assets/js/owl.carousel.min.js"></script>
    <script src="~/Assets/js/jquery.sticky.js"></script>

    <!-- jQuery easing -->
    <script src="~/Assets/js/jquery.easing.1.3.min.js"></script>

    <!-- Main Script -->
    <script src="~/Assets/js/main.js"></script>

    <!-- Slider -->
    <script type="text/javascript" src="~/Assets/js/bxslider.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/script.slider.js"></script>

    <script>
        $(document).ready(function () {
            $("#txtAlert").removeClass("hide");
            $("#txtAlert").delay(3000).slideUp(490);
        })
    </script>
</body>
</html>
