@model IEnumerable<GUI.Models.ProductCart>

@{
    ViewBag.Title = "viewCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Search Products</h2>
                    <form action="#">
                        <input type="text" placeholder="Search products...">
                        <input type="submit" value="Search">
                    </form>
                </div>

            </div>

            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="woocommerce">
                        <form method="post" action="/ShoppingCard/payment" enctype="multipart/form-data">
                        
                            <table cellspacing="0" class="shop_table cart">
                                <thead>
                                    <tr>
                                        <th class="product-remove">&nbsp;</th>
                                        <th class="product-thumbnail">&nbsp;</th>
                                        <th class="product-name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-quantity">Quantity</th>
                                        <th class="product-subtotal">Total</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr class="cart_item txtcard">
                                            <td class="product-remove">
                                                <a title="Remove this item" class="remove" href="@Url.Action("deletecart", "ShoppingCard", new {id = item.iProID })">×</a>
                                            </td>

                                            <td class="product-thumbnail">
                                                <a title="@item.sProName" href="@Url.Action("Detail","Product", new {id = item.iProID })"><img width="145" height="145" alt="@item.sProName" class="shop_thumbnail" src="@item.sImg"></a>
                                            </td>

                                            <td class="product-name">
                                                <a title="@item.sProName" href="@Url.Action("Detail","Product", new {id = item.iProID })">@item.sProName</a>
                                            </td>

                                            <td class="product-price">
                                                <span class="amount">@string.Format("{0:0,0}", item.dPrice)</span>
                                            </td>

                                            <td class="product-quantity">
                                                <div class="quantity buttons_added">                                                   
                                                    <input type="number" data-id="@item.iProID" size="4" class="input-text qty text txtquantity" title="Qty" value="@item.iQuantity" min="0" step="1">                                                    
                                                </div>
                                            </td>
                                            <td class="product-subtotal">
                                                <span class="amount txtgia"> @string.Format("{0:0,0}", item.dPrice * item.iQuantity)</span>
                                            </td>
                                        </tr>
                                    }



                                    <tr>
                                        <td class="actions" colspan="6">
                                            
                                            
                                            <input type="submit" value="Checkout" name="proceed" class="checkout-button button alt wc-forward">
                                            @*<a class="button" href="/ShoppingCard/payment">Payment</a>*@
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                        
                        <div class="cart-collaterals">
                            <div class="cart_totals ">
                                <h2>Cart Totals</h2>

                                <table cellspacing="0">
                                    <tbody>
                                        <tr class="cart-subtotal">
                                            <th>Cart Subtotal</th>
                                            <td><span class="amount txttong">@string.Format("{0:0,0}", ViewBag.MoneySum)</span></td>
                                        </tr>

                                        <tr class="shipping">
                                            <th>Shipping and Handling</th>
                                            <td>Free Shipping</td>
                                        </tr>

                                        <tr class="order-total">
                                            <th>Order Total</th>
                                            <td><strong><span class="amount txttong">@string.Format("{0:0,0}", ViewBag.MoneySum)</span></strong> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                            <form method="post" action="#" class="shipping_calculator">
                                <h2><a class="shipping-calculator-button" data-toggle="collapse" href="#calcalute-shipping-wrap" aria-expanded="false" aria-controls="calcalute-shipping-wrap">Calculate Shipping</a></h2>

                                <section id="calcalute-shipping-wrap" class="shipping-calculator-form collapse">

                                    <p class="form-row form-row-wide">

                                    </p>

                                    <p class="form-row form-row-wide"><input type="text" id="calc_shipping_state" name="calc_shipping_state" placeholder="State / county" value="" class="input-text"> </p>

                                    <p class="form-row form-row-wide"><input type="text" id="calc_shipping_postcode" name="calc_shipping_postcode" placeholder="Postcode / Zip" value="" class="input-text"></p>


                                    <p><button class="button" value="1" name="calc_shipping" type="submit">Update Totals</button></p>

                                </section>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(".txtquantity").keyup(function () {
            //var regex = /^\d*$/;
            var newvalue = $(this).val();
            var id = $(this).attr("data-id");
            console.log(newvalue);
            console.log(id);
            $.ajax({
                url: "/ShoppingCard/UpdateCart",
                data: { nval: newvalue, pid: id },
                success: function (data) {
                    $(this).parent().parent().next().find("span").html(data);
                    //$(".txtgia").html(data);
                }


            })


        })
    })

    //$(function () {
    //    $(".txtquantity").keyup(function () {
    //        console.log("update total");
    //        $.ajax({
    //            url: "/ShoppingCart/UpdateTotal",
    //            data: {},
    //            success: function (dat) {
    //                $(".txttong").text(dat);
    //            }
    //        })
    //    })
    //})
</script>