@model IEnumerable<Models.Product>

<script>
        $(document).ready(function () {
            $(".btn_add_to_card").click(function () {
                var idpro = $(this).attr("data-id");
                console.log(idpro)
                $.ajax({
                    url: "/ShoppingCard/AddCard",
                    type: "get",
                    data: { id: idpro },
                    success: function (da) {
                        $("#SLCard").html(da)
                        console.log(da)
                    },
                    error: function (da) {
                        console.log(da)
                    }
                })
            })

        })
</script>


@foreach (var item in Model)
{
    <div class="col-md-3 col-sm-6">
        <div class="single-shop-product">
            <div class="product-upper">
                <a title="@item.ProductName" href="/san-pham/@item.SeoLink-@item.ProductID"><img src="@item.ProductImage" alt='@item.ProductName' /></a>              
            </div>
            <h2><a title="@item.ProductName" href="/san-pham/@item.SeoLink-@item.ProductID" data-id="@item.ProductID">@item.ProductName</a></h2>
            <div class="product-carousel-price">
                <ins>@string.Format("{0:0,0}", item.UnitPrice) VND</ins> @*<del>$999.00</del>*@
            </div>

            <div class="product-option-shop">
                <button class="add_to_cart_button btn_add_to_card" data-id="@item.ProductID" title="Add to cart">Add to cart</button>
            </div>
        </div>
    </div>
}





