@model IEnumerable<Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>CHI TIẾT SẢN PHẨM</h2>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        <a href="/Admin/ProductAd/Create" title="Thêm sản phẩm">Thêm sản phẩm</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" style="width:100%"  cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên SP</th>
                        <th>NCC</th>
                        <th>Danh mục</th>
                        <th>Hình ảnh</th>
                        <th>SL</th>
                        <th>Giá</th>
                        <th>Chi tiết</th>
                        <th>Mô tả</th>
                        <th>Meta Description</th>
                        <th>Meta keywords</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Tên SP</th>
                        <th>NCC</th>
                        <th>Danh mục</th>
                        <th>Hình ảnh</th>
                        <th>SL</th>
                        <th>Giá</th>
                        <th>Chi tiết</th>
                        <th>Mô tả</th>
                        <th>Meta Description</th>
                        <th>Meta keywords</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.ProductName</td>
                        <td>@item.Supplier.CompanyName</td>
                        <td>@item.Category.CategoryName</td>
                        <td>@item.ProductImage</td>
                        <td>@item.QuantityPerUnit</td>
                        <td>@string.Format("{0:0,0}", item.UnitPrice)</td>
                        <td>@item.Detail</td>
                        <td>@item.Description</td>
                        <td>@item.MetaDescription</td>
                        <td>@item.MetaKeyword</td>
                        <td>Xóa|@Html.ActionLink("Sửa","Edit",new {idd = item.ProductID })</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Nguyễn An</div>
</div>